@model MyPortfolioProjectNight.Models.Portfolio
@{
    ViewBag.Title = "CreatePortfolio";
    Layout = "~/Views/Admin/Index.cshtml";
}


<h2 class="mb-4">Yeni Portfolyo Ekleme Sayfası</h2>

<form method="post">

    <label>Başlık</label>
    @Html.TextBoxFor(x => x.PortfolioTitle, new { @class = "form-control" })
    <br />
    <label>Alt Başlık</label>
    @Html.TextBoxFor(x => x.PortfolioSubTitle, new { @class = "form-control" })
    <br />
    <label>Resim</label>
    @Html.TextAreaFor(x => x.PortfolioImageUrl, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Portfolyoyu Kaydet</button>
</form>